<%- include('header') -%>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff75;
        }
    </style>
    <div class="text-center center-div" id="feedback">
        <div class="container w-40 border py-5">
            <h2 class="font-weight-bold">All Feedbacks</h2>
            <div>
                <br>
                <div name="feedback">
                    <table>
                        <th>
                            Profesor evaluat
                        </th>

                        <% allQuestions.forEach(function (chiu) {%>
                            <th>
                                <%=chiu.intrebare%>
                            </th>
                            <%})%>
                                <br>
                            



                                <%for (var i=0; i < allFeedbacks.length/allQuestions.length; i++) { %>

                                    <tr>
                                    <td>
                                        <%= allFeedbacks[i*allQuestions.length]['dataValues']['id_profesor'] %>
                                    </td>
                                        <%for (var j=0; j < allQuestions.length; j++) { %>

                                            
                                            <td>
                                                <%= allFeedbacks[i*allQuestions.length+j]['dataValues']['raspuns'] %>
                                            </td>

                                            <%}%>
                                    </tr>
                                    <%}%>
                    </table>
                </div>
            </div>
            </form><br>
            <a href="/route/dashboard" class="btn btn-success rounded-pill">Inapoi</a>
            <br><br>
            <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a>
        </div>
    </div>


    <%- include('footer') -%>