<%- include('header') -%>
    <div class="text-center center-div" id="feedback">
        <div class="container w-25 border py-5">
            <h2 class="font-weight-bold">Feedback</h2>
            <form action="/route/chestionar/<%= idProfessor%>" method="POST" class="pt-3">
                <div class="form-group">
                    <h5>Acum evaluati profesorul <%= firstNameProfessor%>
                            <%= lastNameProfessor%>
                    </h5>
                    <br>
                    <div>
                        <% Q.forEach(function (q) { %>
                            <p>
                                <%= q.intrebare%>
                            </p>
                            <input type="text" name="inputu" class="form-control">
                            <br>

                            <% }) %>
                    </div>

                </div>
                <button type="submit" class="btn btn-success rounded-pill">Submit</button>
            </form>
            <br>
            <a href="/route/dashboard" class="btn btn-success rounded-pill">Dashboard</a>
            <br>
            <br>
            <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a>
        </div>
    </div>


    <%- include('footer') -%>