<%- include('header') -%>
    <div class="text-center center-div" id="feedback">
        <div class="container w-25 border py-5">
            <h2 class="font-weight-bold">DATABASE</h2>
                <div class="form-group">
                    </h5>
                    <br>
                    <div>
                        <h2>Studentii:</h2>
                        <% students.forEach(function (q) { %>
                            <p>
                                <% console.log("q: ",q) %>
                                <%=q.firstName%> <%=q.lastName%>
                            </p>
                            <% }) %>
                    </div>
                    <div>
                        <h2>Profesorii:</h2>
                        <% professors.forEach(function (p) { %>
                            <p>
                                <% console.log("p: ",p) %>
                                <%=p.firstName%> <%=p.lastName%>
                            </p>
                            <% }) %>
                    </div>
                </div>
            </form>
            <br>
            <a href="/route/logout" class="btn btn-success rounded-pill">Logout</a>
        </div>
    </div>


    <%- include('footer') -%>