<%- include('header') -%>

    <div class="text-center center-div mt-5" id="login">
        <div class="container w-25 border py-5 mt-5">
            <h3>Alegeti un profesor:</h3>
            <h3>
                <%= profesori[0]['dataValues'].firstName%>
            </h3>

            <div>
                <%for(var i=0;i< profi.length;i++){ %>

                    <li>
                        <%console.log("aicisa debug:", profesori[profi[i]])%>
                            <a href="/route/chestionar/<%= profesori[profi[i]]['dataValues'].id%>">
                                <%=profesori[profi[i]]['dataValues']['firstName']%>
                                    <%=profesori[profi[i]]['dataValues']['lastName']%>
                    </li>
                    <%}%>
            </div>
            <a href="/route/dashboard" class="btn btn-success rounded-pill">Inapoi</a>
            <a href="/route/Logout" class="btn btn-success rounded-pill">Logout</a>
        </div>
    </div>

    <%- include('footer') -%>